<template name="layout">
  <header class="navbar">
    <a href="#" class="navbar-brand">Coiniverse</a>
    <div class="login-buttons">
      {{> loginButtons align="right"}}
    </div>
  </header>
  <div class="sidebar">
    <ul>
      <li>
        <a href="/wallet">Wallet</a>
      </li>
      <li>
        <a href="/contacts">Contacts</a>
      </li>
      <li>
        <a href="/transactions">Send/Receive</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="yield">
      {{> yield}}
    </div>
  </div>
</template>
